<!-- views/createLeague.ejs -->
<!doctype html>
<html>
	<head>
		<title>Create New League</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<style>
			body 		{ padding-top:80px; word-wrap:break-word; }
		</style>
	</head>
	<body>
		<div class="container">
			<header>
			    <%- include ('navbar.ejs') %>
			</header>
			<div class="row">

		        <!-- User Info -->
		        <div class="col-sm-6">
		        	<!-- show any messages -->
					<% if (message != undefined) { %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>
		            <form method="post" action="/createLeague">
		            	<label for="email">User email:</label>
		            	<input type="email" name="email" id="email"><br>
		            	<label for="isAdmin">Is this new user a BidUp Administrator?</label>
		            	<input type="checkbox" name="isAdmin" value="isAdmin" id=isAdmin><br>
		            	<input type="submit" onclick="return validateForm()">
		            </form>
		        </div>
			</div>
		</div>
		<script type="text/javascript">
			function validateForm(){
				email = document.getElementById("email").value
				if(email==""){
					alert("No Email Provided")
					return false
				}
				email = email.split("@")
				if(email.length!=2){
					alert('Please provide a valid gmail address')
					return false
				}
				if(email[1]!="gmail.com"){
					alert("Please enter a gmail address")
					return false
				}
				return true
			}
		</script>
	</body>
</html>