<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
			<ul class="nav navbar-nav">
				<li><a href="/home">Home</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/createLeague">Create or Join a League</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/userLeagues">My Leagues</a></li>
			</ul>
			<% if(user.Admin==1){ %>
				<ul class="nav navbar-nav">
					<li><a href="/addUser">Add User</a></li>
				</ul>
			<% } %>
			<% if(user.Admin==1){ %>
				<ul class="nav navbar-nav">
					<li><a href="/addPlayableSeries">Add Playable Series</a></li>
				</ul>
			<% } %>
	    </div>
	</div>
</nav>